.team {
	background: #EBEBEB;
	text-align: center;

	&__icon {
		margin-top: 45px;

		@media (max-width: 1024px) and (min-width: 768px) {
			margin-top: 30px;
		}

		@media (max-width: 667px) and (min-width: 375px) {
			margin-top: 20px;
		}
	}

	&__title {
		font: 700 36px $title;
		color: #665f60;
		margin: 70px 35px;

		@media (max-width: 1024px) and (min-width: 768px) {
			font: 700 24px $title;
		}

		@media (max-width: 667px) and (min-width: 375px) {
			font: 700 18px $title;
		}
	}

	&__slider {
		padding-bottom: 100px;

		&-block {
			background: #FFF;
		}

		&-foto {
			border-radius: 50%;
		}

		&-title {
			font: 700 24px $title;
			color: $blue;
			padding-top: 35px;
		}

		&-text {
			font: 18px $font;
			font-style: italic;
			color: #665F60;
			padding-top: 30px;
		}
	}
}
